<div class="container">
  <div class="wrapper header">
    <div class="header-logo">LOGO</div>
    <nav class="header-nav" >
      <a class="link header-nav__link" [routerLink]="[ '' ]" routerLinkActive="active">all products</a>
      <a *ngFor="let category of headerCategories" class="link header-nav__link" [routerLink]="[ '/products/', category ]" routerLinkActive="active">
        {{ category }}
      </a>
    </nav>
    <div class="header-bar">
      <a class="link header-bar__link" [class]="heartStatus ? 'link--active' : ''" [routerLink]="[ '/liked' ]" routerLinkActive="active">
        <div class="header-bar__link-img link-heart-solid link-img link-img--active"></div>
        <div class="header-bar__link-img link-heart-out link-img"></div>
      </a>
      <a class="link header-bar__link" [class]="cartStatus ? 'link--active' : ''" [routerLink]="[ '/basket' ]" routerLinkActive="active">
        <div class="header-bar__link-img link-cart-solid link-img link-img--active"></div>
        <div class="header-bar__link-img link-cart-out link-img"></div>
      </a>
      <input type="button" value="Log out" class="input input--btn header-bar__btn" (click)="logOut()">
    </div>
  </div>
</div>
