<h3 class="title">Add new category</h3>
<hr>
<form [formGroup]="categoryForm" (ngSubmit)="saveCategory()" class="form form--admin">
  <label class="input--label">
    Name
    <input type="text" class="input input--txt" formControlName="name" placeholder="Add category name">
  </label>
  <label class="input--label">
    Path
    <input type="text" class="input input--txt" formControlName="path" placeholder="Add category path">
  </label>

  <ng-container *ngIf="!isUploaded">
    <input type="text" formControlName="imagePath" [hidden]="true">
    <label class="input input--btn">
      <input type="file" class="input input--btn display--none" (change)="uploadImage($event)" [hidden]="true">
      Upload image
    </label>
  </ng-container>
  <ng-container *ngIf="isUploaded">
    <img [src]="valueImage('imagePath')" class="img img--small">
    <input type="button" class="input input--btn" (click)="deleteImage()" value="Delete image">
  </ng-container>
  <button *ngIf="isEdit" type="button" class="input input--btn" [disabled]="categoryForm.invalid"
    (click)="editSaveChanges()">Save changes</button>
  <button *ngIf="!isEdit" type="submit" class="input input--btn" [disabled]="categoryForm.invalid">Save</button>
</form>

<ng-container *ngIf="adminCategories.length">
  <h3 class="title">Add new category</h3>
  <hr>
  <table class="table">
    <thead class="table-head">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Path</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr *ngFor="let category of adminCategories">
        <td>{{ category.name }}</td>
        <td>{{ category.path }}</td>
        <td>
          <img [src]="category.imagePath" class="img img--small no-margin">
        </td>
        <td>
          <div class="table-body__actions">
            <button class="input input--btn" (click)="editCategory(category)">Edit</button>
            <button class="input input--btn no-margin" (click)="deleteCategory(category)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
