<div class="container">
  <div class="wrapper header">
    <div class="header-logo">LOGO</div>
    <nav class="header-nav" >
      <a class="link header-nav__link" [routerLink]="[ '' ]" routerLinkActive="active">all products</a>
      <a *ngFor="let category of headerCategories" class="link header-nav__link" [routerLink]="[ '/products/', category ]" routerLinkActive="active">
        {{ category }}
      </a>
    </nav>
    <div class="header-bar">
      <a class="link header-bar__link" [routerLink]="[ '/liked' ]" routerLinkActive="active">
        <img [src]="heartStatus ? heartSolidlinePath : heartOutlinePath" class="header-bar__link-img">
      </a>
      <a class="link header-bar__link" [routerLink]="[ '/basket' ]" routerLinkActive="active">
        <img [src]="cartStatus ? cartSolidlinePath : cartOutlinePath" class="header-bar__link-img">
      </a>
      <input type="button" value="Log out" class="input input--btn header-bar__btn" (click)="logOut()">
    </div>
  </div>
</div>
