<div class="dialog">
  <div class="dialog-box">

    <app-login-block *ngIf='loginSwitch'></app-login-block>
    <app-registration-block *ngIf='!loginSwitch'></app-registration-block>

    <hr>

    <nav class="dialog-box__links">
      <p *ngIf='loginSwitch'>
        No account?
        <a class="link" (click)='loginSwitchBtn()'>Sing up</a>
      </p>
      <p *ngIf='!loginSwitch'>
        Have an account?
        <a class="link" (click)='loginSwitchBtn()'>Log in</a>
      </p>
      <p>
        Back
        <a [routerLink]=" [''] " routerLinkActive="active" class="link">Home</a>
      </p>
    </nav>

  </div>
</div>
