.admin{
    display: flex;
    justify-content: space-between;

    &-menu{
        display: flex;
        flex-direction: column;
        width: 20%;
        padding: 40px 20px 0 0;
    }

    &-box{
        width: 80%;
        padding: 40px;
    }
}