<div class="dialog">
  <div class="dialog-box">
    <h2 class="title">SINGUP</h2>
    <form [formGroup]="singupForm" (submit)="register()" class="form">
      <input type="email" class="input input--txt" placeholder="Email" formControlName="email">
      <input type="password" class="input input--txt" placeholder="Password" formControlName="password">
      <input type="submit" value="Sing up" class="input input--btn form-submit" [disabled]="singupForm.invalid">
    </form>
    <hr>
    <div class="dialog-box__links">
      <p>
        Have an account?
        <a [routerLink]=" ['/login'] " routerLinkActive="active" class="link">Log in</a>
      </p>
      <p>
        Back
        <a [routerLink]=" [''] " routerLinkActive="active" class="link">Home</a>
      </p>
    </div>
  </div>
</div>
