<h2 class="title">REGISTRATION</h2>
<form [formGroup]="singupForm" (submit)="register()" class="form">
  <input type="email" class="input input--txt" placeholder="Email" formControlName="email">
  <input type="password" class="input input--txt" placeholder="Password" formControlName="password">
  <input type="submit" value="Sing up" class="input input--btn form-submit" [disabled]="singupForm.invalid">
</form>

<nav class="dialog-box__links">
  <p>
    Have an account?
    <a class="link" [routerLink]=" [ '/login' ] " routerLinkActive="active">Log in</a>
  </p>
</nav>
