@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");

$color-burgundy: #882426;
$color-oatmeal: #CDBEA7;
$color-oatmeal-transparent: #cdbea748;
$color-ash: #323030;
$color-ash-transparent: #857f7f;
$color-gold: #C29545;
$color-red: red;
$color-green: green;
$color-yellow: yellow;
$basic-font-family: "Montserrat", sans-serif;

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $basic-font-family;
  font-weight: bold;
  font-size: 20px;
  color: $color-ash;
}

*:focus {
  outline: none !important;
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
}

hr {
  height: 2px;
  margin-bottom: 10px;
  background-color: $color-ash;
  border: none;
}

.title {
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: #882426;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    color: $color-gold;
  }

  &--btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: $color-oatmeal;
    text-align: center;
    background-color: $color-ash;
    text-transform: uppercase;

    &:hover {
      background-color: $color-gold;
      color: $color-ash;
    }
  }
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  font-family: $basic-font-family;
  font-weight: bold;
  font-size: 20px;
  color: $color-ash;

  &--txt {
    border: 3px solid $color-ash;
  }

  &--btn {
    background-color: $color-ash;
    color: $color-oatmeal;
    text-align: center;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: $color-gold;
      color: $color-ash;
    }

    &:disabled {
      cursor: not-allowed;
      color: $color-ash;
      background-color: $color-ash-transparent;
    }
  }

  &--select{
    border: 3px solid $color-ash;
  }

  &--textarea{
    resize: none;
    height: 200px;
    border: 3px solid $color-ash;
  }

  &--label{
    width: 100%;
  }
}

.img{
  &--small{
    width: 100px;
    margin-bottom: 10px;
  }
}

input.ng-dirty.ng-invalid {
  border-color: $color-red;
}

.form{
  &--admin{
    width: 50%;
    margin: 0 auto 50px auto;
  }
}

.table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  &-head{
    background-color: $color-ash;
    color: $color-oatmeal;
  }

  &-body{
    background-color: $color-ash-transparent;
    text-align: center;
    font-size: 15px;
  }

  th, td {
    padding: 10px;
  }
}

.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  &-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: $color-oatmeal-transparent;
    text-align: center;
    border-radius: 5px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-submit {
    width: 60%;
  }
}

.no-margin {
  margin: 0;
}
