@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");

$color-burgundy: #882426;
$color-oatmeal: #cdbea7;
$color-oatmeal-transparent: #cdbea748;
$color-ash: #323030;
$color-ash-transparent: #857f7f;
$color-gold: #c29545;
$color-red: red;
$color-green: green;
$color-yellow: yellow;
$basic-font-family: "Montserrat", sans-serif;

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $basic-font-family;
  font-weight: bold;
  font-size: 20px;
  color: $color-ash;
}

*:focus {
  outline: none !important;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

hr {
  height: 2px;
  margin-bottom: 10px;
  background-color: $color-ash;
  border: none;
}

.title {
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: #882426;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    color: $color-gold;
  }

  &--btn {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: $color-oatmeal;
    text-align: center;
    background-color: $color-ash;

    &:hover {
      background-color: $color-gold;
      color: $color-ash;
    }
  }

  .link-img{
    width: 30px;
    height: 30px;
  }

  .link-img--active{
    display: none;
  }

  &--active{
    .link-img{
      display: none;
    }

    .link-img--active{
      display: block;
    }
  }
}

.link-heart-solid{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/chi-shop-fe5ac.appspot.com/o/icons%2Fheart-solid.svg?alt=media&token=2a4f1782-01f5-4ccf-931b-bd8424a2d3a0');
}

.link-heart-out{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/chi-shop-fe5ac.appspot.com/o/icons%2Fheart-outline.svg?alt=media&token=8c871e6e-384f-4c88-8036-5de6069e4859');
}

.link-cart-solid{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/chi-shop-fe5ac.appspot.com/o/icons%2Fshop-solid.svg?alt=media&token=c9b54698-40c8-46ef-8729-abe103cfaed6');
}

.link-cart-out{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/chi-shop-fe5ac.appspot.com/o/icons%2Fshop-outline.svg?alt=media&token=cd9ce470-b49e-4136-930b-2044d82ea0c3');
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  font-family: $basic-font-family;
  font-weight: bold;
  font-size: 20px;
  color: $color-ash;

  &--txt {
    border: 3px solid $color-ash;
  }

  &--btn {
    background-color: $color-ash;
    color: $color-oatmeal;
    text-align: center;
    border: none;

    &--light {
      background-color: #fff;
      color: $color-ash;
      border: 2px solid $color-ash;
    }

    &:hover {
      cursor: pointer;
      background-color: $color-gold;
      color: $color-ash;
    }

    &:disabled {
      cursor: not-allowed;
      color: $color-ash;
      background-color: $color-ash-transparent;
    }
  }

  &--select {
    border: 3px solid $color-ash;
  }

  &--textarea {
    resize: none;
    height: 200px;
    border: 3px solid $color-ash;
  }

  &--label {
    width: 100%;
  }
}

.img {
  &--small {
    width: 100px;
    margin-bottom: 10px;
  }
}

input.ng-dirty.ng-invalid {
  border-color: $color-red;
}

.form {
  &--admin {
    width: 50%;
    margin: 0 auto 50px auto;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  &-head {
    background-color: $color-ash;
    color: $color-oatmeal;
  }

  &-body {
    background-color: $color-ash-transparent;
    text-align: center;
    font-size: 15px;
  }

  th,
  td {
    padding: 10px;
  }
}

.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  &-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: $color-oatmeal-transparent;
    text-align: center;
    border-radius: 5px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-submit {
    width: 60%;
  }
}

.shop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;

  &-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    &__img {
      width: 30%;
      height: 200px;
      padding: 10px;

      &-inside {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__content {
      width: 70%;
      height: 100%;
      padding: 10px;

      &-title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
      }

      &-bricks {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;

        .shop-bricks {
          border-radius: 5px;
          margin-right: 10px;
          padding: 5px 10px;
          background-color: $color-oatmeal;
          font-size: 15px;
        }
      }

      &-txt {
        font-size: 15px;
      }
    }

    &__btns {
      position: absolute;
      z-index: 200;
      display: flex;
      flex-direction: column;
      left: -10px;
      top: 0;
      height: 100%;
      padding: 10px;

      &-item {
        width: 40px;
        height: 40px;
        background-color: $color-oatmeal;
        margin-bottom: 10px;
        padding: 5px;
        border: none;
        transition: 0.2s;
      }

      :hover {
        cursor: pointer;
        background-color: $color-gold;
      }
    }

    &__active {
      position: absolute;
      z-index: 100;
      width: 100%;
      height: 100%;
    }
  }
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;

  &-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  &-title {
    font-size: 50px;
  }
}

.no-margin {
  margin: 0;
}
