<div class="wrapper shop">
    <div class="shop-card" *ngFor="let item of products">
      <div class="shop-card__active" [routerLink]="[ '/products/', item.category, item.id, item.title ]" routerLinkActive="active"></div>
      <div class="shop-card__img">
        <img [src]="item.image" class="shop-card__img-inside">
      </div>
      <div class="shop-card__content">
        <h3 class="shop-card__content-title">{{ item.title }}</h3>
        <hr>
        <div class="shop-card__content-bricks">
          <div class="shop-bricks">{{ item.price | currency:'USD' }}</div>
          <div class="shop-bricks">Rating: {{ item.rating.rate }}</div>
        </div>
        <p class="shop-card__content-txt">{{ item.description | slice:0:100 }}...</p>
      </div>
      <div class="shop-card__btns">
        <button class="link shop-card__btns-item" [class]="item.basket ? 'link--active' : ''" (click)="addToBasket(item)"> 
          <div class="link-cart-solid link-img link-img--active"></div>
          <div class="link-cart-out link-img"></div>
        </button>
        <button class="link shop-card__btns-item" [class]="item.liked ? 'link--active' : ''" (click)="addToLicked(item)">
          <div class="link-heart-solid link-img link-img--active"></div>
          <div class="link-heart-out link-img"></div>
        </button>
      </div>
    </div>
  </div>
