<div class="wrapper shop">
    <div class="shop-card" *ngFor="let item of products">
      <div class="shop-card__img">
        <img [src]="item.image" class="shop-card__img-inside">
      </div>
      <div class="shop-card__content">
        <h3 class="shop-card__content-title">{{ item.title }}</h3>
        <hr>
        <div class="shop-card__content-bricks">
          <div class="shop-bricks">{{ item.price | currency:'USD' }}</div>
          <div class="shop-bricks">Rating: {{ item.rating.rate }}</div>
        </div>
        <p class="shop-card__content-txt">{{ item.description | slice:0:100 }}...</p>
      </div>
      <div class="shop-card__btns">
        <button class="shop-card__btns-item" (click)="addToBasket(item)"> 
          <img [src]="item.basket ? cartSolidlinePath : cartOutlinePath">
        </button>
        <button class="shop-card__btns-item" (click)="addToLicked(item)">
          <img [src]="item.liked ? heartSolidlinePath : heartOutlinePath">
        </button>
      </div>
    </div>
  </div>
